includes:
    - phpstan-baseline.neon

parameters:
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false
    level: 9
    paths:
        - src
    excludePaths:
        - tests/resources
        - tests/Fixtures
    dynamicConstantNames:
        - Monolog\Logger::API
    bootstrapFiles:
        - stubs/autoload.php
