parameters:
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - src
    ignoreErrors:
        - '/Argument of an invalid type object supplied for foreach, only iterables are supported/'
        -
            message: '/^Argument of an invalid type array\|object supplied for foreach, only iterables are supported\.$/'
            path: src/Util/JSON.php
        -
            message: '/^Access to constant (?:PROXY|TIMEOUT|CONNECT_TIMEOUT) on an unknown class GuzzleHttp\\RequestOptions\.$/'
            path: src/HttpClient/HttpClientFactory.php
        -
            message: '/^Call to static method create\(\) on an unknown class Symfony\\Component\\HttpClient\\HttpClient\.$/'
            path: src/HttpClient/HttpClientFactory.php
        -
            message: '/^Parameter #1 \$c of function ctype_digit expects int\|string, string\|null given\.$/'
            path: src/Dsn.php
        -
            message: "/^Offset 'scheme' does not exist on array\\(\\?'scheme' => string, \\?'host' => string, \\?'port' => int, \\?'user' => string, \\?'pass' => string, \\?'path' => string, \\?'query' => string, \\?'fragment' => string\\)\\.$/"
            path: src/Dsn.php
        -
            message: "/^Offset 'path' does not exist on array\\(\\?'host' => string, \\?'port' => int, \\?'user' => string, \\?'pass' => string, \\?'path' => string, \\?'query' => string, \\?'fragment' => string, 'scheme' => 'http'|'https'\\)\\.$/"
            path: src/Dsn.php
        -
            message: "/^Offset 'user' does not exist on array\\('scheme' => 'http'\\|'https', \\?'host' => string, \\?'port' => int, \\?'user' => string, \\?'pass' => string, \\?'path' => string, \\?'query' => string, \\?'fragment' => string\\)\\.$/"
            path: src/Dsn.php
        -
            message: '/^Method Sentry\\Monolog\\Handler::write\(\) has parameter \$record with no value type specified in iterable type array\.$/'
            path: src/Monolog/Handler.php
        -
            message: '/^Method Sentry\\Client::getIntegration\(\) should return T of Sentry\\Integration\\IntegrationInterface\|null but returns Sentry\\Integration\\IntegrationInterface\|null\.$/'
            path: src/Client.php
        -
            message: '/^Method Sentry\\EventFactoryInterface::createWithStacktrace\(\) invoked with 2 parameters, 1 required\.$/'
            path: src/Client.php
        -
            message: '/^Method Sentry\\EventFactoryInterface::create\(\) invoked with 2 parameters, 1 required\.$/'
            path: src/Client.php
    excludes_analyse:
        - tests/resources
        - tests/Fixtures
