<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="true"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors" />
    </php>

    <testsuites>
        <testsuite name="Sentry for PHP Test Suite">
            <directory>tests</directory>
            <directory suffix=".phpt">tests/phpt</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
