name: Code style and static analysis

on:
  pull_request:
  push:
    branches:
      - master
      - develop

permissions:
  contents: read

jobs:
  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer update --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: vendor/bin/php-cs-fixer fix --verbose --diff --dry-run

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer update --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: vendor/bin/phpstan analyse

  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2 # needed by codecov sometimes

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer update --no-progress --no-interaction --prefer-dist

      - name: Run script
        run: vendor/bin/psalm
